@import "common.scss";
@import "newsgroup.scss";
@import "titles.scss";
@import "article.scss";
@import "toolbar.scss";
@import "contextMenu.scss";
@import "user.scss";
@import "auth.scss";
@import "topbar.scss";
@import "menu.scss";
@import "userAdmin.scss";
@import "userInfo.scss";
@import "newsgroupAdmin.scss";

BODY {
  background-color: #eee;
  cursor: auto;
}

BODY.wait,
BODY.wait button {
  cursor: wait !important;
}

#main {
  > div {
    width: 100%;
    margin: 0px;
    padding: 2px;
    border: solid lightgray 1px;
  }
  > div.gutter {
    height: 10px;
    border: none;
    background-color: lightgray;
    cursor: row-resize;
  }
  > div#newsgroup {
    height: 200px;
  }
  > div#titles {
    height: 200px;
  }
  > div#article {
    height: 500px;
  }
}

.response.icon {
  color:yellow;
}
