@import "common.scss";
@import "nnsbbs.scss";
@import "newsgroup.scss";
@import "titles.scss";
@import "article.scss";
@import "toolbar.scss";
@import "contextMenu.scss";
@import "user.scss";
@import "auth.scss";
@import "topbar.scss";
@import "menu.scss";
@import "userAdmin.scss";
@import "userInfo.scss";
@import "newsgroupAdmin.scss";
@import "reportManager.scss";
@import "reportPage.scss";

BODY {
  background-color: #eee;
  cursor: auto;
}

BODY.wait,
BODY.wait button {
  cursor: wait !important;
}

#main {
  background-color: white;
}

.jconfirm {
  color: black;
  .jconfirm-content {
    overflow: hidden !important;
  }
}
