$monospace: "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols",
  "emojione mozilla", "twemoji mozilla", monospace;

#article {
  overflow: hidden;

  .toolbar-title {
    > span {
      vertical-align: middle;
    }
    .id {
      font-weight: bold;
      margin-right: 5px;
      font-size: small;
      color: cyan;
    }
    .author {
      font-weight: normal;
      margin-right: 5px;
      cursor: pointer;
    }
    .date {
      font-weight: lighter;
      font-size: small;
      margin-right: 5px;
      color: cyan;
    }
    .title {
      color: lightgray;
      font-weight: bold;
      font-size: normal;
    }
  }

  .article {
    height: calc(100% - 30px);
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;

    .article-header {
      width: 100%;
      background-color: #eee;
      color: #686;
      font-size: small;
      font-family: $monospace;
      margin-bottom: 5px;
      white-space: pre;
      overflow: auto;
      padding: 5px;
    }

    .article-body {
      width: 100%;
      // background-color: white;
      white-space: pre;
      font-family: $monospace;
      padding: 5px;
    }

    .article-end {
      text-align: center;
      margin: 5px;
      background-color: beige;
      padding: 5px;
      font-size: large;
      font-style: italic;
      cursor: pointer;
    }

    .image {
      display: inline-block;
      margin: 10px;
      border: dotted lightgray 2px;
      padding: 5px;
      width: 30%;
      > div {
        display: inline-block;
        img {
          width: 250px;
          height: 250px;
          object-fit: scale-down;
          object-position: bottom;
        }
      }
    }
    .attached-file {
      display: inline-block;
      width: 30%;
      margin: 10px;
      padding: 10px;
      border: dotted lightgray 2px;
      border-radius: 10px;
      .filename {
        margin: 5px;
        font-weight: bold;
      }
      .size {
        margin: 5px;
      }
    }

    .image .comment,
    .attached-file .comment {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
  }
}
