#article {
  overflow: hidden;

  .article {
    height: calc(100% - 30px);
    overflow-y: auto;

    .article-header {
      width: 100%;
      background-color: #eee;
      color: #686;
      font-size: small;
      font-family: monospace;
      margin-bottom: 5px;
      white-space: pre;
      overflow: auto;
      padding: 5px;
    }

    .article-body {
      width: 100%;
      background-color: white;
      white-space: pre;
      font-family: monospace;
      padding: 5px;
    }

    .article-end {
      text-align: center;
      margin: 5px;
      background-color: beige;
      padding: 5px;
      font-size: large;
      font-style: italic;
    }
  }
}
