#article-pane {
  max-height: 600px;
}

.article-header {
  width: 100%;
  background-color: #eee;
  color: #686;
  font-size: small;
  font-family: monospace;
  margin-bottom: 5px;
  white-space: pre;
  overflow: scroll;
  max-height: 100px;
}


.article-body {
  width:100%;
  background-color: white;
  white-space: pre;
  overflow: scroll;
}