.no-display {
  display: none;
}

.fill {
  flex-grow: 100;
}

.nb-list-group {
  padding: 2px;
  border: solid darkgray 0px;
  overflow: hide;
}

.nb-list-group {
  > button {
    width: 100%;
    border: none;
    text-align: left;
    font-size: 12pt;
    padding: 2px;
    white-space: pre;
    overflow: hidden;
  }
  > button.active {
    background-color: #007bff;
    color: white ; 
    .icon {
      color: white !important; 
    }
  }
}

.sortable {
  list-style: none;
  margin: 3px;
  padding: 0;
  li {
    margin: 0 3px 3px 3px;
    padding: 0.1em;
    padding-left: 1.5em;
    font-size: 1.2em;
  }
}
