.no-display {
  display: none;
}

.fill {
  flex-grow: 100;
}

.nb-list-group {
  padding: 2px;
  border: solid darkgray 0px;
  overflow: hide;
}

.nb-list-group {
  > button {
    width: 100%;
    border: none;
    text-align: left;
    font-size: 12pt;
    padding: 2px;
    white-space: pre;
    overflow: hidden;
  }
  > button.active {
    background-color: #007bff;
    color: white;
  }
}
