#report-manager {
  .btn-box {
    margin: 5px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 4px;
    button {
      margin: 2px;
      border-radius: 5px;
    }
    > span {
      margin: 5px;
    }
  }
  table.report {
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
    tr {
      width: 100%;
      border-bottom: solid 1px black;
      td {
        padding: 5px;
        white-space: pre;
        overflow: hidden;
        border-left: dotted 1px lightgray;
      }
      .id {
        text-align: right;
        width: 3ch;
      }
      .created_at {
        width: 18ch;
      }
      .type,
      .treatment,
      .notifier {
        width: 10%;
      }
      .article {
        width: 15%;
      }
      .article-title {
        color: red;
      }
      td.no-data {
        text-align: center;
      }
    }
  }
}
