#titles {
  overflow-y: hidden;

  .toolbar-title {
    .number-of-articles {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: mdium;
    }

    .subscription {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: mdium;
    }
    .disp-mode {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: lighter;
    }

    .loaded-titles {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: lighter;
    }
  }

  .titles {
    height: calc(100% - 40px);
    position: relative;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    // scroll-behavior: smooth;
    .title-list {
      margin: 5px 2px;
      > div {
        cursor: pointer;
        display: inline-flex;
        width: 100%;
        border: none;
        text-align: left;
        font-size: 12pt;
        padding: 0px;
        margin: -5px 0px;
        white-space: pre;
        overflow: hidden;
        background-color: transparent;

        > div {
          display: inline-block;
        }

        .article-id {
          width: 40px;
          font-size: small;
          text-align: center;
          flex: 0 0 auto;
          padding: 2px;
          margin: 0px 0px;
          border-bottom: solid 1px black;
          border-left: solid 1px black;
        }
        .article-from {
          width: 120px;
          overflow: hidden;
          font-weight: bold;
          margin-right: 5px;
          flex: 0 0 auto;
        }

        .article-time {
          margin-right: 5px;
          flex: 0 0 auto;
        }

        .article-rule {
          font-family: monospace;
          font-size: 4ex;
          white-space: pre;
          margin: -12px 0px;
        }

        .article-title {
          overflow: hidden;
          flex-grow: 10;
          flex-shrink: 10;
          font-weight: bold;
          position: relative;
        }

        .attached-file {
          margin: 0px 10px;
        }

        .reaction {
          font-size: smaller;
          font-weight: bold;
          .icon {
            color: gray;
          }
        }
        .reaction.good .icon {
          color: red;
        }
        .reaction.i-dont-think-so .icon {
          color: blue;
        }
        .reaction.i-dont-understand .icon {
          color: green;
        }
      }
      > div.read {
        .article-title,
        .article-from {
          color: darkgray;
        }
      }
      > div.active {
        background-color: #007bff;
        color: white;
        .reaction .icon {
          color: white !important;
        }
      }
      > div.deleted {
        text-decoration: line-through double;
      }
      .more-titles {
        text-align: center;
        button {
          margin: 10px;
        }
      }
    }
  }
  .no-titles {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > div {
      font-weight: bold;
      font-size: larger;
      margin: 20px 0px;
      justify-self: center;
    }
  }
}
