#titles {
  overflow-y: hidden;

  .toolbar-title {
    .number-of-articles {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: mdium;
    }

    .subscription {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: mdium;
    }
    .disp-mode {
      margin-left: 20px;
      color: lightgray;
      font-size: small;
      font-weight: lighter;
    }
  }

  .titles {
    height: calc(100% - 40px);
    position: relative;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    button {
      display: inline-flex;
      > div {
        display: inline-block;
      }

      .article-id {
        width: 40px;
        color: darkgreen;
        font-size: small;
        margin-right: 5px;
        text-align: right;
        flex: 0 0 auto;
      }
      .article-from {
        width: 120px;
        overflow: hidden;
        font-weight: bold;
        margin-right: 5px;
        flex: 0 0 auto;
      }

      .article-time {
        margin-right: 5px;
        flex: 0 0 auto;
      }

      .article-rule {
        margin-right: 2px;
        font-family: monospace;
        font-size: large;
        color: lightblue; 
      }

      .article-title {
        flex-grow: 10;
        font-weight: bold;
        position: relative;
      }
    }
    button.read {
      .article-title,
      .article-from {
        color: darkgray;
      }
    }
  }
}
