.toolbar {
  padding: 2px;
  background: darkgreen;
  color: white;
  display: flex;
  margin-bottom: 2px;
  white-space: pre;

  .toolbar-title {
    font-size: large;
    flex-grow: 10;
    margin-right: 5px;
    color: yellow;
    font-weight: bold;
    overflow: hidden;
  }
  button {
    margin-left: 5px;
    i {
      font-size: large;
      flex-grow: 0;
    }
  }
}

.toolbar.closed + div {
  display: none;
}
