.topbar {
  padding: 2px;
  background-color: lightblue;
  display: flex;
  width: 100%;
  margin: 1px;
  a {
    font-size: large;
    font-weight: bold;
    padding: 0.375rem 0.25rem;
    margin-left: 5px;
  }

  .right-icon {
    margin-left: 4px;
    font-size: xx-small;
  }
}

.about-dlg {
  > div {
    margin: 8px;
    .label {
      margin-right: 10px;
      font-weight: bold;
    }
    .fullname {
      font-style: italic;
    }
  }
}
