.login {
  form {
    overflow: hidden;
  }
  a {
    margin: 10px;
  }
}

.user-registration {
  .explain {
    padding: 10px;
  }
  form {
    overflow: hidden;
  }
}

form.edit-profile,
form.post-article {
  overflow: hidden;
}

form.edit-profile {
  label {
    margin-left: 10px;
    margin-right: 20px;
  }
}

.show-profile {
  .title {
    display: inline-block;
    width: 100px;
  }
  .membership,
  .disp-name {
    display: inline-block;
    font-weight: bold;
  }
  .profile {
    margin: 5px;
    padding: 5px;
  }
}
