.login {
  form {
    overflow: hidden;
  }
  a {
    margin: 10px;
  }
}

.user-registration {
  .explain {
    padding: 10px;
  }
  form {
    overflow: hidden;
  }
}

form.edit-profile, form.post-article {
  overflow: hidden;
}
