body.nnsbbs {
  background-color: #fffcfc;
}

#main {
  background-color: #fff8f8 !important;
}

#TopBar {
  background-color: #fff0f0 !important;
}

.toolbar {
  background-color: #444 !important;
}

button {
  color: black ;
}
