body.nnsbbs {
  background-color: #ffe !important;
}

#main {
  background-color: #ffc !important;
}

#TopBar {
  background-color: white !important;
}

.toolbar {
  background-color: #444 !important;
}
.toolbar button.menu.btn {
  background-color: #fff !important;
}

