body.nnsbbs {
  background-color: #d8f;
}

#main {
  background-color: #fef !important;
}

#TopBar {
  background-color: #eaf !important;
}

.toolbar {
  background-color: #444 !important;
}

button {
  color: #c0f !important;
}
