body.nnsbbs {
  background-color: darkgray;
}

#main {
  background-color: #fff !important;
}

#TopBar {
  background-color: white !important;
}

.toolbar {
  background-color: #444 !important;
}

button {
  color: black ;
}
