body.nnsbbs {
  background-color: #ccf;
}

#main {
  background-color: #eef !important;
}

#TopBar {
  background-color: #ddf !important;
}

.toolbar {
  background-color: #444 !important;
}

button {
  color: black ;
}
