body.nnsbbs {
  background-color: #fff;
}

#main {
  background-color: #f8fff8 !important;
}

#TopBar {
  background-color: #cfc !important;
}

.toolbar {
  background-color: #444 !important;
}

button {
  color: black ;
}
