body.nnsbbs {
  background-color: #f88;
}

#main {
  background-color: #fee !important;
}

#TopBar {
  background-color: white !important;
}

.toolbar {
  background-color: #444 !important;
}

button {
  color: black ;
}
